body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 h2 h3 p{
    background-color: black;
}

#gridPart1 {
    align-items: center;
    grid-column: span 5 / span 5;
}

#gridPart2 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}

#gridPart3 {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
}

.gridPart {
    border-radius: 8px;
    opacity: calc(10%);
    background-color: darkgrey;
}